In [16]:
import pandas as pd

In [32]:
target_path = f'../datasets/clean_datasets/australia_data.parquet'
df = pd.read_parquet(target_path)
df

           date  admissions                                       hospital
0    2013-07-01        19.0  Armadale/Kelmscott District Memorial Hospital
1    2013-07-02        25.0  Armadale/Kelmscott District Memorial Hospital
2    2013-07-03        11.0  Armadale/Kelmscott District Memorial Hospital
3    2013-07-04        15.0  Armadale/Kelmscott District Memorial Hospital
4    2013-07-05        18.0  Armadale/Kelmscott District Memorial Hospital
...         ...         ...                                            ...
3280 2014-06-26        28.0                         Swan District Hospital
3281 2014-06-27        31.0                         Swan District Hospital
3282 2014-06-28        28.0                         Swan District Hospital
3283 2014-06-29        29.0                         Swan District Hospital
3284 2014-06-30        25.0                         Swan District Hospital

[3285 rows x 3 columns]

In [33]:
target_path = f'../datasets/clean_datasets/botswana_data.parquet'
df = pd.read_parquet(target_path)
df

FileNotFoundError: [Errno 2] No such file or directory: '../datasets/clean_datasets/botswana_data.parquet'

In [34]:
target_path = f'../datasets/clean_datasets/cardiff_data.parquet'
df = pd.read_parquet(target_path)
df

                       datetime  admissions          hospital
0     2014-04-01 00:00:00+00:00          12  Cardiff Hospital
1     2014-04-01 01:00:00+00:00           5  Cardiff Hospital
2     2014-04-01 02:00:00+00:00          10  Cardiff Hospital
3     2014-04-01 03:00:00+00:00           7  Cardiff Hospital
4     2014-04-01 04:00:00+00:00           4  Cardiff Hospital
...                         ...         ...               ...
86156 2019-02-28 19:00:00+00:00          26  Cardiff Hospital
86157 2019-02-28 20:00:00+00:00          17  Cardiff Hospital
86158 2019-02-28 21:00:00+00:00          16  Cardiff Hospital
86159 2019-02-28 22:00:00+00:00          15  Cardiff Hospital
86160 2019-02-28 23:00:00+00:00           7  Cardiff Hospital

[86161 rows x 3 columns]

In [35]:
target_path = f'../datasets/clean_datasets/chile_data.parquet'
df = pd.read_parquet(target_path)
df

,date,admissions,hospital
0,2008-01-03,0,03-100 - Hospital Dr. Leonardo GuzmÃ¡n (Antofag...
1,2008-01-04,520,03-100 - Hospital Dr. Leonardo GuzmÃ¡n (Antofag...
2,2008-01-05,365,03-100 - Hospital Dr. Leonardo GuzmÃ¡n (Antofag...
3,2008-01-06,418,03-100 - Hospital Dr. Leonardo GuzmÃ¡n (Antofag...
4,2008-01-07,377,03-100 - Hospital Dr. Leonardo GuzmÃ¡n (Antofag...
...,...,...,...
2742880,2025-05-02,7,33-915 - SUR Chacao
2742881,2025-05-03,14,33-915 - SUR Chacao
2742882,2025-05-04,11,33-915 - SUR Chacao
2742883,2025-05-05,6,33-915 - SUR Chacao
2742884,2025-05-06,17,33-915 - SUR Chacao

In [36]:
target_path = f'../datasets/clean_datasets/colombia_data.parquet'
df = pd.read_parquet(target_path)
df

                 datetime  admissions                 hospital       date
0     2020-01-01 00:35:00           2  CENTRO HOSPITAL LA ROSA        NaT
1     2020-01-01 03:28:00           2  CENTRO HOSPITAL LA ROSA        NaT
2     2020-01-01 04:14:00           2  CENTRO HOSPITAL LA ROSA        NaT
3     2020-01-01 04:30:00           2  CENTRO HOSPITAL LA ROSA        NaT
4     2020-01-01 04:41:00           2  CENTRO HOSPITAL LA ROSA        NaT
...                   ...         ...                      ...        ...
81174                 NaT          12      Hospital de Betania 2024-05-28
81175                 NaT           4      Hospital de Betania 2024-05-29
81176                 NaT          10      Hospital de Betania 2024-05-30
81177                 NaT          17      Hospital de Betania 2024-05-31
81178                 NaT          11      Hospital de Betania 2024-06-01

[81179 rows x 4 columns]

In [22]:
target_path = f'../datasets/clean_datasets/iran_data.parquet'
df = pd.read_parquet(target_path)
df

                 datetime  admissions                     hospital
0     2017-03-21 02:00:00           5  Isfahan University Hospital
1     2017-03-21 03:00:00           3  Isfahan University Hospital
2     2017-03-21 04:00:00           3  Isfahan University Hospital
3     2017-03-21 05:00:00           1  Isfahan University Hospital
4     2017-03-21 06:00:00           5  Isfahan University Hospital
...                   ...         ...                          ...
39244 2022-03-20 19:00:00           7  Isfahan University Hospital
39245 2022-03-20 20:00:00           3  Isfahan University Hospital
39246 2022-03-20 21:00:00           5  Isfahan University Hospital
39247 2022-03-20 22:00:00           5  Isfahan University Hospital
39248 2022-03-20 23:00:00           5  Isfahan University Hospital

[39249 rows x 3 columns]

In [23]:
target_path = f'../datasets/clean_datasets/mexico_data.parquet'
df = pd.read_parquet(target_path)
df

                   datetime  admissions     hospital
0       2000-02-01 15:30:00           1  ASSSA000025
1       2000-02-08 00:33:00           1  ASSSA000025
2       2000-03-02 01:00:00           1  ASSSA000025
3       2000-05-17 04:23:00           1  ASSSA000025
4       2000-10-01 08:00:00           1  ASSSA000025
...                     ...         ...          ...
7999294 2023-12-10 00:00:00           5  ZSSSA013172
7999295 2023-12-11 00:00:00          26  ZSSSA013172
7999296 2023-12-12 00:00:00          30  ZSSSA013172
7999297 2023-12-13 00:00:00          25  ZSSSA013172
7999298 2023-12-14 00:00:00          20  ZSSSA013172

[7999299 rows x 3 columns]

In [24]:
target_path = f'../datasets/clean_datasets/netherlands_data.parquet'
df = pd.read_parquet(target_path)
df

           date      hospital  admissions
0      20090101           aku        56.0
1      20090101           amc         0.0
2      20090101  antoniushove        58.0
3      20090101          arma         0.0
4      20090101       bronovo         0.0
...         ...           ...         ...
52591  20161231           rph       192.0
52592  20161231           scg       181.0
52593  20161231          sjgm       157.0
52594  20161231          swan         0.0
52595  20161231     westeinde       117.0

[52596 rows x 3 columns]

In [37]:
target_path = f'../datasets/clean_datasets/pakistan_data.parquet'
df = pd.read_parquet(target_path)
df

FileNotFoundError: [Errno 2] No such file or directory: '../datasets/clean_datasets/pakistan_data.parquet'

In [38]:
target_path = f'../datasets/clean_datasets/spain_data.parquet'
df = pd.read_parquet(target_path)
df

            date  admissions                                      hospital
0     2021-01-01           6                Vithas Hospital Santa Catalina
1     2021-01-01           0                            Hospital La Paloma
2     2021-01-01           1   Hospital Universitario San Roque Las Palmas
3     2021-01-01           7                     Hospital Perpetuo Socorro
4     2021-01-01          20  Hospital Universitario Dr. JosÃ© Molina Orosa
...          ...         ...                                           ...
42784 2023-12-31          78                           H. Medina del Campo
42785 2023-12-31          82                           H. Santiago ApÃ³stol
42786 2023-12-31          96                               H. Santos Reyes
42787 2023-12-31         330                             H.C.U. Valladolid
42788 2023-12-31         410                              H.U. RÃ­o Hortega

[42789 rows x 3 columns]

In [27]:
target_path = f'../datasets/clean_datasets/usa_data.parquet'
df = pd.read_parquet(target_path)
df

                 datetime  admissions       hospital        date
0     2014-01-01 00:00:00         1.0  Iowa Hospital         NaN
1     2014-01-01 01:00:00         2.0  Iowa Hospital         NaN
2     2014-01-01 02:00:00         2.0  Iowa Hospital         NaN
3     2014-01-01 03:00:00         1.0  Iowa Hospital         NaN
4     2014-01-01 04:00:00         1.0  Iowa Hospital         NaN
...                   ...         ...            ...         ...
85711                 NaT       192.0            rph  20161231.0
85712                 NaT       181.0            scg  20161231.0
85713                 NaT       157.0           sjgm  20161231.0
85714                 NaT         0.0           swan  20161231.0
85715                 NaT       117.0      westeinde  20161231.0

[85716 rows x 4 columns]

In [28]:
target_path = f'../datasets/clean_datasets/wales_data.parquet'
df = pd.read_parquet(target_path)
df

             date admissions                                        hospital
0     01 Feb 2020        504   Betsi Cadwaladr University Local Health Board
1     02 Feb 2020        508   Betsi Cadwaladr University Local Health Board
2     03 Feb 2020        633   Betsi Cadwaladr University Local Health Board
3     04 Feb 2020        584   Betsi Cadwaladr University Local Health Board
4     05 Feb 2020        574   Betsi Cadwaladr University Local Health Board
...           ...        ...                                             ...
3432  01 Jun 2021        421  Cardiff and Vale University Local Health Board
3433  02 Jun 2021        391  Cardiff and Vale University Local Health Board
3434  03 Jun 2021        401  Cardiff and Vale University Local Health Board
3435  04 Jun 2021        409  Cardiff and Vale University Local Health Board
3436  05 Jun 2021        314  Cardiff and Vale University Local Health Board

[3437 rows x 3 columns]